# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* Commoly used libraries for Data Science.
* Open source tools used in Data Science.

Some of the popular languages that Data Scientists use are:
1. R.
2. Python.
3. Julia.
4. Java.
5. Scala.

Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.
7. TensorFlow.
8. Matplotlib.

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebooks |
| Apache Hadoop |
| GitHub |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

## Author

Olena Serozhkina